@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #9E138C, #56F0E4);
    }
    section#login{
        width: 80vw;
    }
    section#login> div#imagem{
        float: left;
        width: 30%;
        height: 100%;
    }
    section#login > div#formulario{
        float: right;
        width: 70%;
    }
    div#formulario > p{
        font-size: 1.2em;
    }
    div.campo > input{
        background-color: #56F0E4;
        font-size: 1em;
        transform: translateY(-8px);
        border: 0px;
        border-radius: 7px;
        width: calc(100% - 47px );
        height: 100%;
        padding: 4px;
        margin-right: -2px;
        
    }
}

@media screen and (min-width: 992px){
    body{
        background-image: linear-gradient(to bottom, #9E138C, #56F0E4);

    }
    section#login{
        width: 950px;

    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > #formulario{
        float: left;
        width: 50%;
    }
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1.8em;
    }

}  