@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
   height: 100vh;
    background-image: linear-gradient(to bottom, #9E138C, #56F0E4);
   background-repeat: no-repeat; 
   background-position: ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main{
    background-color: white;
    border-radius: 10px; 
    text-align: left;
    margin: 10px;
    height: 250px;
   

}

main h1, p{
    text-align: center;
}



div.usuario{
    padding: 2px;
    padding-left: 10px;
    text-align: justify;
}

.caixas{
    background-color: #56F0E4;
    border-radius: 5px;
    
}

.caixas:hover{
    background-color: #56f0e33b;

}

input#envio{
    margin-left: 10px;
    width: 380px;
    background-color: #3ba49b;
    color: white;
    float: left;
    border-radius: 5px;
    position: relative;
    
}

input#envio:hover{
    background-color: #3ba49b89;
}

.material-symbols-outlined{
    text-align: center;
    border-radius: 5px;
    padding-right: 19px;
    background-color: #9E138C;
}