@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body, html{
    height: 100vh;
    width: 100vw;
    background-color: #9E138C;
    background-repeat: no-repeat; 
    
}


main{
    height: 100vh;
    width: 100vw;
    position: relative;


}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: white;
    width: 300px;
    height: 620px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.334);
    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section > div#imagem{
    display: block;
    background: black url(../imagens/pexels-jakubzerdzicki-31121842.jpg) no-repeat;
    background-size: cover;
    height: 150px;
}

section#login > div#formulario{
    display: block;
    text-align: center;
    padding: 10px;

}
    
div#formulario > h1{
    text-align: center;
    margin-bottom: 5px;
}
div#formulario > p{
    font-size: 2px;
}


img#chave{   
    background-color: none;
    font-size: 2em;
    color: white;
    width: 38px;
    padding: 5px;
}

div.campo{
    background-color: #9E138C;
    border-radius: 7px;
    margin: 7px 0px ;
    height: 38px;
    width: 100%;

}

div.campo > label > span{
    background-color: none;
    font-size: 2em;
    color: white;
    width: 40px;
    padding: 5px;
}

div.campo > input{
    background-color: #56F0E4;
    font-size: 1em;
    border: 0px;
    border-radius: 0px 7px 7px 0px;
    width: calc(100% - 47px );
    height: 100%;
    padding: 4px;
    margin-right: -2px;
    transform: translateY(-8px);
    
}

#isenha{
    padding-top: 6px;
    margin-right: -3px;
}


div.campo > input:hover{
    background-color: #56f0e376;
}

#envio{
    display: block;
    font-size: 1em;
    
    margin-bottom: 5px;
    width: 100%;
    height: 40px;
    background-color: #3daba2;
    font-weight: bolder;
    text-shadow: 1px 3px 10px #3daba2;
    color: rgba(255, 255, 255, 0.629);
    border-radius: 7px;
}
#envio:hover{
    
    background-color: #3daba263;
    color: rgba(0, 0, 0, 0.629);
    
}

form > a.botao{
    display: block;
    text-align: center;
    background-color: white;
    
    border: 1px solid rgb(111, 110, 109);
    width: 100%;
    height: 40px;   
    border-radius: 7px;
    color: #339088;
    text-decoration: none;
    
}    

form > a.botao:hover{
    
    background-color: #3daba2;
    
}

